body {
    font-family: Arial;
    background-color: #eeeeee;
    text-align: center;
}

.card {
    width: 300px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 0 10px gray;
}

.card td {
    padding: 20px;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.social img {
    width: 30px;
    margin: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}